name: Build & Test

on: push

jobs:
  Build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm run build

  Test:
    runs-on: macos-latest
    timeout-minutes: 5

    steps:
      - uses: ./
        id: mac-installer
        with:
          root-directory: Artifacts
          bundle-path: Build.app
          identifier: com.akiojin.GitHubActionsForUnity
          version: ${{ github.run_number }}